* {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}




body{
  margin: 0 auto;
  position: relative;
}

a{
  text-decoration: none;
  color: inherit;
}


.hidden {
  display: none;
}


a:hover{
  text-decoration: none;
  color: inherit;
}

.logo{
  background-color: #F5F5F5;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

/* 全体のレイアウト */
.wrapper {
  display: flex;
  background-color: #F5F5F5;
}

label{
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 12px 0px;
}

.container {
  background-color: #F5F5F5;
  margin: 0 auto;
  width: 100vw;

  justify-content: center;
  text-align: center;
}

form {
  text-align: center;
  width: 100%;
}

.form-group {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  justify-content: left;

}


.photo-upload {
  /* width: 100%; この行は削除またはコメントアウト */
  margin: 0 auto;
  background-color: rgb(234, 234, 234);
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 800px;
  height: 180px;
  line-height: 28px;
  margin-bottom: 24px;
  align-items: center;
  color: gray;
  /* 新しいスタイルを追加 */
  min-width: 300px; /* または好きなサイズに */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.photo-upload-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.highlight {
  border-color: blue;
}

#imagePreview{
  margin-right: 24px;
}


.image-container {
  position: relative;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}



#addCaution {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

.custom-select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M3.204 5h9.592L8 9.481 3.204 5zm-.753.659 4.797 4.8a1 1 0 0 0 1.414 0l4.8-4.8c.27-.27.083-.659-.303-.659H3.253a.483.483 0 0 0-.302.659z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5em;
  padding-right: 2rem;  /* 矢印とテキストが重ならないように */
  height: 2rem;         /* 縦幅を設定 */
}


.placeholder-option {
  color: #ccc;
}


.round-form{
  border-radius: 200px;
  display: block;
  border: 1px solid #E9E9E9;
  padding: 16px 32px;
  background-color: #FFF;
  width: 800px;
  height: 60px;
  margin-bottom: 12px;
}






#nextButton{
  position: fixed;
  border-radius: 100px 0px 0px 100px;
  border: 0px;
background: #71E26F;
color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 24px 32px 24px 40px;
bottom: 10vh;
right: 0px;
}

#nextButton:hover{
  position: fixed;
  border-radius: 100px 0px 0px 100px;
  border: 0px;
background: #57CF55;
color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 24px 32px 24px 40px;
bottom: vh;
right: 0px;
}




/* サイドバーのスタイリング */
.sidebar {
  width: 240px;
  /* サイドバーの幅を設定 */
  height: 100vh;
  /* 画面の高さ全体 */
  background: #f5f5f5;
  /* パディング */
  position: fixed;
  /* 固定位置 */
  border-right: 1px solid #E2E2E2;
}

.sidebar img{
  margin: 0px auto;
  text-align: center;  
  padding: 32px 0px;
  display: block;

}

.sidebar .logocontainer{
  width: 238px;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}


.sidebar .logocontainer img{

}


/* サイドバー内のリストのスタイリング */
.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 10px 0;
  font-size: 18px;
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sidebar .doneicon{
  display: none;
}

.sidebar .menucontent{
  margin: 0px;
  padding: 24px 0px 32px 0px;
  border-bottom: 1px solid #E2E2E2;
}

.sidebar .menucontent:not(.activemenu):hover {
  margin: 0px;
  padding: 24px 0px 32px 0px;
  border-bottom: 1px solid #E2E2E2;
  background-color: #e4e4e4;
}

.sidebar .menucontent:not(.activemenu):hover img {
  background-color: #e4e4e4;
}


.sidebar .activemenu{
  color: #4EDB4B;
  background-color: #FFF;
  position: relative;
}

.sidebar .activemenu img{ 
  color: #4EDB4B;
}


.sidebar .activemenu .doneicon{
  display:block;
  position: absolute;
  top: 95px;
  left: 140px;
  padding: 0px;
  margin: 0px;
  background-color: none;
}

.sidebar .activemenu img{
  color: #4EDB4B;
  background-color: #FFF;
  padding: 16px 0px 26px 0px;
}

.sidebar .menucontent img{

  padding: 16px 0px 26px 0px;

}


/* コンテンツエリアのスタイリング */
.content {
  margin-left: 270px;
  /* サイドバーの幅とパディングの合計 */
  padding: 20px;
  width: calc(100% - 270px);
  /* 全体の幅からサイドバーの幅を引く */
  height: 100vh;
  overflow-y: auto;
  /* 縦方向のスクロールを許可 */
}

.titlecontainer{
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 42px;
}


.btn-secondary .active{
  color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
border-radius: 100px;
background: #71E26F;
padding: 14px 16px;
border: none;
}

.btn{
    color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border-radius: 100px;
  background: #E9E9E9;
  padding: 14px 16px;
  border: none;


}

#upload-text{
  background-color: inherit;
  text-align: center;
  width: 100%;
}

.form-group{
  margin: 0;
}

#productTitle {
  height: 60px;  /* 1行程度の高さ */
  resize: none;  /* ユーザーによるリサイズを不可にする */
  padding: 16px 24px;
}

.product-price-container{
  background-color: white;
  border-radius: 12px;
  display: block;
  border: 1px solid lightgray;
  padding: 40px;
  display: flex;
}


.product-price-left {
  height: 140px; 
  background-color: white;
  align-items: center; 
  margin-right: 40px;
  justify-content: center;
  display: flex; /* 追加 */
}

.product-price-left img {
  width: 200px;
  margin: auto; /* 追加 */
}

.product-price-right{
  background-color: white;
  justify-content: left;
  text-align: left;
  align-items: center;
}

.product-price-right img{
  width: 100px;
  text-align: left;
}


#product-title{
  background-color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding-left: 10px;
  margin-top: 12px;
}
#product-price{
  font-size: 34px;
  text-align: left;
  background-color: white;
  padding-left: 20px;
}

#productDescription {
  height: 60vh;  /* 縦長にする */
  resize: vertical;  /* 垂直方向のみリサイズ可 */
}



.form-group textarea {
  display: block;
  border-radius: 12px;
  display: block;
  width: 75vw;
  padding: 24px;
  border: 1px solid lightgray;
  background-color: rgb(252, 252, 252);
  margin-bottom: 32px;
}



.s-titlecontainer{
  display: flex;
  justify-content: space-between;
  width: 78vw;
  padding-right: 24px;
}

.ml-auto{
  border: 0;
  color: gray;
}

.ml-auto{
  border: 0;
  color: #C6C6C6;
}


@media (min-width: 1200px){
  .container{
    max-width: 100%;
  }
}