* {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}




body{
  margin: 0 auto;
  position: relative;
}

a{
  text-decoration: none;
  color: inherit;
}


a:hover{
  text-decoration: none;
  color: inherit;
}

.logo{
  background-color: #F5F5F5;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

/* 全体のレイアウト */
.wrapper {
  display: flex;
  background-color: #F5F5F5;
}

label{
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 12px 0px;
}


.container{
  width: 100vw;
  background-color: #F5F5F5;
  margin: 0px;
  padding: 0px;
}
form {
  text-align: center;
  width: 100vw;
}

.form-group {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  text-align: left;
}

.round-form{
  border-radius: 200px;
  display: block;
  border: 1px solid #E9E9E9;
  padding: 16px 32px;
  background-color: #FFF;
  width: 800px;
  margin-bottom: 12px;
}


#addCaution {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}
#nextButton{
  position: fixed;
  border-radius: 100px 0px 0px 100px;
  border: 0px;
background: #71E26F;
color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 24px 32px 24px 40px;
bottom: 10vh;
right: 0px;
}

#nextButton:hover{
  position: fixed;
  border-radius: 100px 0px 0px 100px;
  border: 0px;
background: #57CF55;
color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 24px 32px 24px 40px;
bottom: vh;
right: 0px;
}




/* サイドバーのスタイリング */
.sidebar {
  width: 240px;
  /* サイドバーの幅を設定 */
  height: 100vh;
  /* 画面の高さ全体 */
  background: #f5f5f5;
  /* パディング */
  position: fixed;
  /* 固定位置 */
  border-right: 1px solid #E2E2E2;
}

.sidebar img{
  margin: 0px auto;
  text-align: center;  
  padding: 32px 0px;
  display: block;

}

.sidebar .logocontainer{
  width: 238px;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}


.sidebar .logocontainer img{

}


/* サイドバー内のリストのスタイリング */
.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 10px 0;
  font-size: 18px;
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sidebar .doneicon{
  display: none;
}

.sidebar .menucontent{
  margin: 0px;
  padding: 24px 0px 32px 0px;
  border-bottom: 1px solid #E2E2E2;
}

.sidebar .menucontent:not(.activemenu):hover {
  margin: 0px;
  padding: 24px 0px 32px 0px;
  border-bottom: 1px solid #E2E2E2;
  background-color: #e4e4e4;
}

.sidebar .menucontent:not(.activemenu):hover img {
  background-color: #e4e4e4;
}


.sidebar .activemenu{
  color: #4EDB4B;
  background-color: #FFF;
  position: relative;
}

.sidebar .activemenu img{ 
  color: #4EDB4B;
}


.sidebar .activemenu .doneicon{
  display:block;
  position: absolute;
  top: 95px;
  left: 140px;
  padding: 0px;
  margin: 0px;
  background-color: none;
}

.sidebar .activemenu img{
  color: #4EDB4B;
  background-color: #FFF;
  padding: 16px 0px 26px 0px;
}

.sidebar .menucontent img{

  padding: 16px 0px 26px 0px;

}


/* コンテンツエリアのスタイリング */
.content {
  margin-left: 270px;
  /* サイドバーの幅とパディングの合計 */
  padding: 20px;
  width: calc(100% - 270px);
  /* 全体の幅からサイドバーの幅を引く */
  height: 100vh;
  overflow-y: auto;
  /* 縦方向のスクロールを許可 */
}

.titlecontainer{
  color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 42px;
}


.btn-secondary .active{
  color: #FFF;
text-align: center;
font-family: Tsunagi Gothic Black;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
border-radius: 100px;
background: #71E26F;
padding: 14px 16px;
border: none;
}

.btn{
    color: #1B1B1B;
  text-align: center;
  font-family: Tsunagi Gothic Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border-radius: 100px;
  background: #E9E9E9;
  padding: 14px 16px;
  border: none;


}



.form-group{
  margin: 0;
}

#productTitle {
  height: 30px;  /* 1行程度の高さ */
  resize: none;  /* ユーザーによるリサイズを不可にする */
}

#productDescription {
  height: 60vh;  /* 縦長にする */
  resize: vertical;  /* 垂直方向のみリサイズ可 */
}



.form-group textarea {
  display: block;
  border-radius: 12px;
  display: block;
  width: 75vw;
  padding: 24px;
  border: 1px solid lightgray;
  background-color: rgb(252, 252, 252);
  margin-bottom: 32px;
}



.s-titlecontainer{
  display: flex;
  justify-content: space-between;
  width: 78vw;
  padding-right: 24px;
}

.ml-auto{
  border: 0;
  color: gray;
}

.ml-auto{
  border: 0;
  color: #C6C6C6;
}
